.logo-container {
    margin-left: 20px;
    font-weight: 100;
    display: flex;
}

.logo-text {
    margin-left: 20px;
    color: #28a745;
    align-items: center;
}

.fixed-menubar {
    width: 100%;
}
